<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>{{titulo}}</title>
</head>

<body class="body">
    <form id="login-form" class="login" action="" method="GET" >
        <h2 class="login-title">Login de usuario</h2>
        <label for="nombre">ingrese su nombre</label>
        <input class="input" type="text" id="nombre" name="nombre" placeholder="José">
        <button class="btn" id="btn" type="submit">Enviar</button>
    </form>
    <script src="../js/login.js"></script>
</body>

</html>